// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column {
  height: 100px;
  background-color: green;
}
.container-fluid {
  margin-top: 50px;
  box-shadow: 0 0 30px black;
  padding:0 15px 0 15px;
}