<% flash[:notice]="YOU ARE TRYING TO ACCESS AN INVALID PAGE" %>
<div class="well well-sm center-block text-center"><h1>HAVE FUN !!!</h1>
  <%= link_to 'Home', home_path, :class => "btn btn-primary block-center"%>
</div>