<ul class="nav nav-tabs navbar-fixed-bottom navbar-inverse container-fluid">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/users/profile/<%= current_user.id %>">Profile</a></li>
  <li role="presentation"><a href="/users/followers">Followers</a></li>
  <li role="presentation"><a href="/users/following">Following</a></li>
  <li role="presentation"><a href="/users/everyone">All</a></li>
  <li role="presentation"><a href="/users/sign_out" data-method="delete">Logout</a></li>
</ul>